

$primarycolors: (
    --black: #000000,
    --white: #FFFFFF,
    --darkGrey: #444444,
    --grey: #787878,
    --blue: #0050FC,
    --darkBlue: #080986,
    --green: #068808,
    --veryDarkBlue: #0C2340,
    --darkBlueGrey: #162E4B
);

$tokencolors: (
    --navigation: var(--black),
    --nomcartevelo: var(--darkBlue),
    --prixcartevelo: var(--grey),
    --othertext: var(--darkBlue),
    --footertitle: var(--white),
    --footersubtitle: var(--white),

    --gradiantbtn : linear-gradient(90deg, #080986, #0050fc)
);
